altair==5.5.0
beautifulsoup4==4.13.3
blinker==1.9.0
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
holidays==0.67
joblib==1.4.2
Jinja2==3.1.5
matplotlib==3.10.0
numpy==2.2.3
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
plotly==6.0.0
prophet==1.1.6
protobuf==5.29.4
pyarrow==19.0.1
pydeck==0.9.1
python-dateutil==2.9.0.post0
pytz==2025.1
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
statsmodels==0.14.4
streamlit==1.44.1
sweetviz==2.3.1
tenacity==9.1.2
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
watchdog==6.0.0
